<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      {{title}}
    </div>
    <div class="card-body">
      <form action="">
        <label for="">Operando A {{opA}}</label>
        <input
        class="form-control"
        type="number"
        [(ngModel)]='opA'
        name="opA"
        >
        <label for="">Operando B {{opB}}</label>
        <input
        class="form-control"
        type="number"
        [(ngModel)]="opB"
        name="opB"
        >
        <button
        class="btn btn-primary mt-3"
        (click)="sumar()"
        >Sumar</button>
      </form>
    </div>
    <div class="card-footer">
      <p>
        Resultado: {{result}}
      </p>
    </div>
  </div>
</div>
